.section-product {
  padding-top: 40px;

  &__container {
    display: flex;
    gap: 24px;
  }

  &__main {
    flex-grow: 1;
  }

  &__sidebar {
    flex-shrink: 0;
    width: 268px;

    @media (max-width: $lg) {
      display: none;
    }
  }
}
