// Палитра
$colors: (
  white: #ffffff,
  black: #000000,
);

// Контрольные точки
$xxs: 359px;
$xs: 400px;
$sm: 576px; // mobile
$md: 768px;
$lg: 992px; // tablet
$xl: 1200px; // desktop
$xxl: 1400px;
